* {
    box-sizing: border-box;
}

.xview a{
    text-decoration: none;
}

.h6class{
    padding: 7px 10px;
    background-color: rgba(128, 128, 128, 0.212);
    width: fit-content;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    border-radius: 2px;
}

.views{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}
.views img:hover{
    cursor: zoom-in;
}

body{
    color: #111;
}

.navbar{
    color: black !important;
    background-color: white !important;
}
.nav-item{
    color: black;
}

.set{
    height: 2vh;
    background-color: black;
}
.set1{
    height: .4vh;
    background-color: white;
}
.set2{
    height: .1vh;
    background-color: black;
}


.c{
    color: black;
    font-weight: 400;
    font-size: 1.1rem;
}
.b{
    padding: 0% 2%;
    font-weight: 900;
    outline: 4px solid black;
}

.search{
    border-radius: 4px;
}