{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% endblock styles %}
</head>

<body>
    {% include 'photos/navbar.html' %}
    <div class="set"></div>
    <div class="set1"></div>
    <div class="set2"></div>
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group m-lg-4">
                            <label>Name</label>
                            <input class="form-control" name="name" type="text" placeholder="Enter image title here"
                                required>
                        </div>

                        <div class="form-group m-lg-4">
                            <label>Description</label>
                            <input class="form-control" name="description" type="text"
                                placeholder="Enter description here" required>
                        </div>

                        <div class="form-group m-lg-4">
                            <label>Select Category</label>
                            <select name="category" id="cat">
                                <option value="none">select a category</option>

                                {% for category in categories %}
                                <option value="{{category.id}}">{{category.categoryx}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group m-lg-4">
                            <label>Add a category</label>
                            <input class="form-control" name="add_category" type="text"
                                placeholder="Enter category name here">
                        </div>

                        <div class="form-group m-lg-4">
                            <label>Select Location</label>
                            <select name="location" id="locate">
                                <option value="none">select a location</option>

                                {% for location in locations %}
                                <option value="{{location.id}}">{{location.locationx}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group m-lg-4">
                            <label>Add a location</label>
                            <input class="form-control" name="add_category" type="text"
                                placeholder="Enter location name here">
                        </div>

                        <div class="form-group m-lg-4">
                            <label>Upload Image</label>
                            <input class="form-control" name="image" type="file" required>
                        </div>

                        <button type="submit" class="m-lg-4" [disabled]="!form.form.valid">Add Image</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% bootstrap_javascript %}
    {% endblock scripts %}

</body>

</html>