{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GalleryX</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}

</head>

<body>
    {% include 'photos/navbar.html' %}
    <div class="set"></div>
    <div class="container">
        <div class="views">
            <div class="rowOne">
                {% for image in rowOne %}
                <a class="image-link" data-bs-toggle="modal" data-bs-target="#clickImage" data-name="{{image.name}}"
                    data-img="{{ image.image.url}}" data-description="{{image.description}}"
                    data-location="{{image.image_location.locationx}}"
                    data-category="{{image.image_category.categoryx}}" data-date="{{image.post_date}}">
                    <img src="{{image.image.url}}" class="img-style img-fluid mt-3 modal-click" alt="...">
                </a>
                <h6 class="text-center h6class my-3">{{image.image_category.categoryx}}</h6>
                {% empty %}
                <h4>No Images Yet</h4>
                {% endfor %}
            </div>
            <div class="rowTwo">
                {% for image in rowTwo %}
                <a class="image-link" data-bs-toggle="modal" data-bs-target="#clickImage" data-name="{{image.name}}"
                    data-img="{{ image.image.url}}" data-description="{{image.description}}"
                    data-location="{{image.image_location.locationx}}"
                    data-category="{{image.image_category.categoryx}}" data-date="{{image.post_date}}">
                    <img src="{{image.image.url}}" class="img-style img-fluid mt-3 modal-click" alt="...">
                </a>
                <h6 class="text-center h6class my-3">{{image.image_category.categoryx}}</h6>
                {% empty %}
                <h4>No Images Yet</h4>
                {% endfor %}
            </div>
            <div class="rowThree">
                {% for image in rowThree %}
                <a class="image-link" data-bs-toggle="modal" data-bs-target="#clickImage" data-name="{{image.name}}"
                    data-img="{{ image.image.url}}" data-description="{{image.description}}"
                    data-location="{{image.image_location.locationx}}"
                    data-category="{{image.image_category.categoryx}}" data-date="{{image.post_date}}">
                    <img src="{{image.image.url}}" class="img-style img-fluid mt-3 modal-click" alt="...">
                </a>
                <h6 class="text-center h6class my-3">{{image.image_category.categoryx}}</h6>
                {% empty %}
                <h4>No Images Yet</h4>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- modal -->
    <div id="clickImage" class="modal fade fa-align-center" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-1">
                    <h4 class="modal-title text-black" id="image-name"></h4>
                    <button class="close btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <img id="image-url" src="" />
                </div>
                <div class="modal-footer p-0 m-0">
                    <div class="container-fluid p-0 m-0">
                        <div class="navbar container">
                            <span class="pg m-0"># <span id="image-category"> </span></span>
                            <span class="pg m-0">
                                <i class="fas fa-map-marker-alt"> </i> <span id="image-location"> </span>
                            </span>
                            <span class="pg m-0"> <i class="fas fa-clock"></i> <span id="image-date"></span> </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="p-2" id="image-description"></div>
                <p></p>
                <div class="bg-black p-2 btn text-white"
                    onclick="copyToClipboard(document.getElementById('copy').innerHTML)"><i class="fa fa-share-alt"
                        aria-hidden="true"></i></div>
            </div>
            <div class="pz" id="copy"></div>
        </div>
    </div>
    {% include 'photos/footer.html' %}
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock scripts %}
    {% bootstrap_javascript %}
</body>

</html>