{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GalleryX</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}

</head>

<body>
    {% include 'photos/navbar.html' %}
    <div class="container-fluid">
        <div class="views">
            <div class="rowOne">
                {% for image in rowOne %}
                <a href="{% url 'image' image.id %}">
                    <img src="{{image.image.url}}" class="img-style img-fluid" alt="...">
                    <h6 class="text-center h6class my-2">{{image.image_category.categoryx}}</h6>
                </a>
                {% empty %}
                <h4>No Images Yet</h4>
                {% endfor %}
            </div>
            <div class="rowTwo">
                {% for image in rowTwo %}
                <a href="{% url 'image' image.id %}">
                    <img src="{{image.image.url}}" class="img-style img-fluid" alt="...">
                    <h6 class="text-center h6class my-2">{{image.image_category.categoryx}}</h6>
                </a>
                {% empty %}
                <h4>No Images Yet</h4>
                {% endfor %}
            </div>
            <div class="rowThree">
                {% for image in rowThree %}
                <a href="{% url 'image' image.id %}">
                    <img src="{{image.image.url}}" class="img-style img-fluid" alt="...">
                    <h6 class="text-center h6class my-2">{{image.image_category.categoryx}}</h6>
                </a>
                {% empty %}
                <h4>No Images Yet</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>