{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}
</head>

<body>
    <button class="btn" data-bs-toggle="modal" data-bs-target="#clickImage">View</button>
    <div id="clickImage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-1">
                    <h5 class="modal-title" id="my-modal-title">{{image.name}}</h5>
                    <button class="close btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <img src="{{image.image.url}}" class="img-style img-fluid" alt="...">
                </div>
                <div class="modal-footer p-0 m-0">
                    <div class="container-fluid p-0 m-0">
                        <div class="navbar container">
                            <span class="pg m-0">#{{image.image_category.categoryx}}</span>
                            <span class="pg m-0">
                                <i class="fas fa-map-marker-alt"> </i> {{image.image_location.locationx}}
                            </span>
                            <span class="pg m-0">{{image.post_date}}</span>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="card p-2 bg-black text-white">{{image.description}}</div>
                <p></p>
                <div class="bg-black p-2 btn text-white"><i class="fa fa-share-alt" aria-hidden="true"
                        onclick="share()"></i></div>
            </div>
        </div>
    </div>
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock scripts %}
</body>

</html>