<div class="set2"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand c b" href="{% url 'gallery' %}">GALLERYX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active c" aria-current="page" href="{% url 'gallery' %}">Home</a>
                </li>
                {% for location in locations %}
                <li class="nav-item c">
                    <a class="nav-link c active" href="{% url 'gallery' %}?location={{location.locationx}}">{{location.locationx}}</a>
                </li>
                {% endfor %}
                <li class="nav-item c">
                    <a class="nav-link btn c" href="{% url 'add' %}"><i class="fa fa-plus"> add</i></a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'search_results' %}">
                <input class="form-control me-2 search" type="search" placeholder="Search by Category" name="category" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search text-dark"></i></button> </input>
            </form>
        </div>
    </div>
</nav>